includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 5
  paths:
    - orion-ai-assistant.php
    - includes
  excludePaths:
    - vendor
  treatPhpDocTypesAsCertain: false
